$L-desktopSize: 1600px;
$desktopSize: 1024px;
$tabletSize: 767px;
$L-mobileSize: 649px;
$mobileSize: 479px;

@mixin L-desktop {
  @media (min-width: #{$L-desktopSize}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktopSize}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabletSize}) {
    @content;
  }
}

@mixin L-mobile {
  @media (max-width: #{$L-mobileSize}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobileSize}) {
    @content;
  }
} ;
