@import './MediaQuery';
.home_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: rgb(238, 238, 238);
  .posts_container {
    width: 70%;
    margin: 5%;
    display: flex;
    flex-flow: column;
    .sort_by {
      margin-bottom: 3%;
      .sort_by_hot {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.7rem;
        background-color: rgb(103, 123, 179);
        width: 90px;
        height: 40px;
        border-radius: 5%;
        .hot_icon {
          color: rgb(255, 4, 4);
        }
        .hot_posts {
          color: rgb(247, 245, 245);
        }
      }
    }

    .posts_list {
      display: flex;
      flex-flow: row wrap;
      // justify-content: center;
      a {
        -webkit-box-shadow: 0px 2px 13px 1px #000000;
        box-shadow: 0px 2px 13px 1px #000000;
        background: rgb(255, 255, 255);
        width: 30%;
        height: 400px;
        margin-right: 3%;
        margin-bottom: 20px;
        border-radius: 4%;
        overflow: hidden;
        transition: transform 0.2s;
        @include desktop {
          width: 46%;
        }
        @include tablet {
          width: 100%;
          height: 500px;
        }
        @include mobile {
          height: 400px;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
        .post {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 50%;
            object-fit: cover;
          }
          .post_main {
            width: 90%;
            height: 40%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .title {
              margin-top: 10%;
              font-size: 1.2rem;
              word-break: break-all;
              text-overflow: ellipsis;
              overflow: hidden;
              line-height: 1.2;
              height: 3.6em;
              color: rgb(153, 64, 64);
            }
            .user_info {
              align-self: flex-start;
              .user_nickname {
                color: rgb(165, 149, 149);
                margin: 0;
              }
              .created_at {
                margin: 0;
                color: rgb(94, 93, 93);
              }
            }
          }

          .post_bottom {
            color: rgb(77, 77, 77);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid;
            height: 10%;
            width: 90%;
            margin: auto;
            .category_info {
              border-radius: 40%;
              color: rgb(117, 101, 57);
            }
            .post_count {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              color: rgb(73, 88, 75);
              p {
                display: flex;
                align-items: center;
                margin-right: 5%;

                i {
                  margin-right: 2%;
                }
                .big_count {
                  color: rgb(238, 20, 20);
                }
              }
            }
          }
        }
      }
    }
  }
}
