.layout_container {
  width: 100vw;
  .top_layout {
    width: 100vw;
    .log {
      width: 100%;
      margin: auto;
      padding-left: 5%;
      padding-right: 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(103, 125, 143);
      color: white;
      h1 {
        margin: 0;
      }
      .nav {
        display: flex;
        align-items: center;
        margin: 0;
        li {
          &:hover {
            cursor: pointer;
          }
          .search_icon {
            font-size: 1.4rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
