@import './MediaQuery';

.write_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  .write_post_container {
    width: 70%;
    margin: 5% 0 5% 0;
  }
  .auth {
    width: 35%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    input {
      margin-right: 20%;
      @include L-mobile {
        width: 120px;
      }
      @include mobile {
        width: 100px;
      }
      &::placeholder {
        font-size: 1rem;
      }
    }
  }
  h3 {
    color: rgb(100, 99, 99);
  }
  input.title {
    font-size: 1rem;
    margin-top: 3%;
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    &::placeholder {
      font-size: 1.2rem;
    }
  }
  .post_tool {
    width: 100%;
    display: flex;
    flex-direction: column;
    .quill_editor {
      background-color: white;
    }
    .btn_bundle {
      margin-top: 3%;
      display: flex;
      justify-content: flex-start;
      height: 60px;
      align-self: flex-end;
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        margin-top: 10%;
      }
      button {
        width: 80px;
        font-size: 1.2rem;
        border-radius: 10%;
        cursor: pointer;
        @include mobile {
          font-size: 1rem;
          width: 70px;
          height: 55px;
        }
      }
      .back_btn {
        margin-right: 5%;
      }
      .post_btn {
        background-color: rgb(60, 66, 97);
        color: white;
      }
    }
  }
}
